@charset "UTF-8";

.table {
    width: 100%;
    border: 1px solid;
}
.table td {
    border: 1px solid #dee2e6;
    padding: 10px 0 10px 0;
    text-align: center;
}

tr:nth-child(1), tr td:nth-of-type(1) {
    background-color: #2244aa;
    color: #fff;
}
tr:nth-child(3), tr:nth-child(5) {
    background-color: #ecf1f2;
}
tr:nth-child(6) {
    border-top: 2px dashed #000;
}


/* q2が終わったら
q3のcssはq3フォルダの中のcssファイルに記述してください */