@charset "UTF-8";

.table {
  width: 100%;
  table-layout: fixed;
}

.table td,table th {
  border: 1px solid #dee2e6;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 15px;
  line-height: 26px;
}

.table th {
  background-color: #2244aa;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
}

.table tr:nth-child(odd) {
  background-color: #ecf1f2;
}

.table tbody tr:last-child {
  border-top: 2px dashed #000;
}


/* q2が終わったら
q3のcssはq3フォルダの中のcssファイルに記述してください */